/*Responsive Screens*/

@media (max-width: @screen-xs-max)
{
    .main-img .box { display: none;}
    .main-img:nth-child(1)
    {
        display: none;
    }
    .main-img:nth-child(2)
    {
        display: block;
    }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max)
{
    #fullpage .section{  background-color: yellow;}
}
@media (min-width: @screen-md-min)
{
    #fullpage .section{
    background-color: red;
    }
}