/* MARGIN */
.margin.top2 { margin-top: 0.2rem;}
.margin.bottom2 { margin-bottom: 0.2rem;}
.margin.left2 {margin-left: 0.2rem;}
.margin.right2 {margin-right: 0.2rem;}
.margin.all2 {margin: 0.2rem;}

.margin.top5 { margin-top: 0.5rem;}
.margin.bottom5 { margin-bottom: 0.5rem;}
.margin.left5 {margin-left: 0.5rem;}
.margin.right5 {margin-right: 0.5rem;}
.margin.all5 {margin: 0.5rem;}

.margin.top10 { margin-top: 1rem;}
.margin.bottom10 { margin-bottom: 1rem;}
.margin.left10 {margin-left: 1rem;}
.margin.right10 {margin-right: 1rem;}
.margin.all10 {margin: 1rem;}

.margin.top20 { margin-top: 2rem;}
.margin.bottom20 { margin-bottom: 2rem;}
.margin.left20 {margin-left: 2rem;}
.margin.right20 {margin-right: 2rem;}
.margin.all20 {margin: 2rem;}

.margin.top25 { margin-top: 2.5rem;}
.margin.bottom25 { margin-bottom: 2.5rem;}
.margin.left25 {margin-left: 2.5rem;}
.margin.right25 {margin-right: 2.5rem;}
.margin.all25 {margin: 2.5rem;}

.margin.top30 { margin-top: 3rem;}
.margin.bottom30 { margin-bottom: 3rem;}
.margin.left30 {margin-left: 3rem;}
.margin.right30 {margin-right: 3rem;}
.margin.all30 {margin: 3rem;}

.margin.top40 { margin-top: 4rem;}
.margin.bottom40 { margin-bottom: 4rem;}
.margin.left40 {margin-left: 4rem;}
.margin.right40 {margin-right: 4rem;}
.margin.all40 {margin: 4rem;}

.margin.top45 { margin-top: 4.5rem;}
.margin.bottom45 { margin-bottom: 4.5rem;}
.margin.left45 {margin-left: 4.5rem;}
.margin.right45 {margin-right: 4.5rem;}
.margin.all45 {margin: 4.5rem;}

.margin.top50 { margin-top: 5rem;}
.margin.bottom50 { margin-bottom: 5rem;}
.margin.left50 {margin-left: 5rem;}
.margin.right50 {margin-right: 5rem;}
.margin.all50 {margin: 5rem;}

.margin.top60 { margin-top: 6rem;}
.margin.bottom60 { margin-bottom: 6rem;}
.margin.left60 {margin-left: 6rem;}
.margin.right60 {margin-right: 6rem;}
.margin.all60 {margin: 6rem;}

/* PADDING */
.padding.top5 {padding-top: 0.5rem;}
.padding.bottom5 {padding-bottom: 0.5rem;}
.padding.left5 {padding-left: 0.5rem;}
.padding.right5 {padding-right: 0.5rem;}
.padding.all5 {padding: 0.5rem;}

.padding.top20 {padding-top: 2rem;}
.padding.bottom20 {padding-bottom: 2rem;}
.padding.left20 {padding-left: 2rem;}
.padding.right20 {padding-right: 2rem;}
.padding.all20 {padding: 2rem;}

.padding.top30 {padding-top: 3rem;}
.padding.bottom30 {padding-bottom: 3rem;}
.padding.left30 {padding-left: 3rem;}
.padding.right30 {padding-right: 3rem;}
.padding.all30 {padding: 3rem;}

.padding.top40 {padding-top: 4rem;}
.padding.bottom40 {padding-bottom: 4rem;}
.padding.left40 {padding-left: 4rem;}
.padding.right40 {padding-right: 4rem;}
.padding.all40 {padding: 4rem;}

.padding.top60 {padding-top: 6rem;}
.padding.bottom60 {padding-bottom: 6rem;}
.padding.left60 {padding-left: 6rem;}
.padding.right60 {padding-right: 6rem;}
.padding.all60 {padding: 6rem;}

.center
{
    text-align: center;
}


/*DISPLAY*/
.display.inline-block
{
    display: inline-block;
}


/* MAIN MENU */
.main-menu
{
    position: fixed;
    z-index: 1;
    padding: 1.2rem;
    width: 100%;
    text-align: center;

}
.main-menu .copyright {
    /*float: left;*/
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;
    line-height: 60px;
    font-weight: 600;
}
div.scroll-icon
{
    position: absolute;
    left: 50%;
    bottom: 20px;
    font-size: 3rem;
}
/*buttons*/
a.button
{
    font-weight: 500;
    padding: 17px 37px;
    color: #000000;
    border: 2px solid #000000;
}

/*images*/
.half-img
{
    float: left;
    width: 50%;
    height: auto;
    background-color: #66afe9;
}

/*Table*/
div.table
{
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
div.table-cell
{
    display: table-cell;
    width:100%;
    height: 100%;
    vertical-align: middle;
}
div.row
{
    display:table-row;
    vertical-align: middle;
}

/*Footer*/
footer
{
    height: 50px;
    text-align: center;
    margin: 0 auto;
}
footer h3
{
    font-size: 0.8rem;
    color: #999999;
    font-weight: 100;
}


/*slideshow*/
#owl-demo .owl-item div{
    padding:5px;
}
#owl-demo .owl-item img{
    display: block;
    width: 100%;
    height: 50%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.flex-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-items
{
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    vertical-align: middle;
}
.main-image
{
    width:100%;
}

/*box-shadow*/
.shadow
{
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
}