div.featured-work
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.text-wrapper h1
{
    font-size: 20rem;
    z-index: 100;
    color: #f7ebe7;
    left: 15px;
}
ul, li
{
    list-style: none;
    display: inline-block;
    float: left;
    padding-right: 2rem;
    z-index: 0;
}
.works li:nth-child(last-child)
{
    padding-right: 0;
}
.category h3
{
    font-size: 1.2rem;
    font-weight: 200;
}
.title h2
{
    font-size: 3rem;
    font-weight: 500;
}
.works .filter
{
    position: relative;
    top: -50px;
}
.works .two-column
{
    min-height: 348px;
    background-color: #0e83cd;
}
.works img
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 350px;
    max-width: 100%;
    min-height: 348px;
}
.works a:hover
{
    opacity: 0.2;
    background-color: #e1445c;
}
.fp-slidesContainer
{
    min-width: 100%;
    height: 50%;
}
/*.works .flex-container*/
/*{*/
    /*display: flex;*/
/*}*/
.flex-container
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;
}
.flex-items
{
    display: inline-flex;
    height: 100px;
    justify-content: center;
    background-color: #0a833d;
    margin: 0 auto;
}
.works h3
{
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
}
.works .carousel-inner
{
    width: 100%;
    min-height: 348px;
}
.carousel-inner img
{
    width: 100%;
}
/*.works .text-box*/
/*{*/
    /*width: 100px;*/
    /*height: 50px;*/
    /*display: inline-flex;*/
    /*margin: 0 auto;*/
    /*vertical-align: middle;*/
    /*background-color: #000000;*/
/*}*/